{
   "port": 8888,
   "routes":[
      {
         "path":"/example1",
         "handler_opts":{
            "responses":[
               {
                  "headers":{
                     "X-test-header":"custom resp header 1",
                     "X-test-header2": "custom resp header 2"
                  },
                  "body":"This is get",
                  "methods":[
                     "GET"
                  ]
               },
               {
                  "headers":{
                     "X-test-header":"custom resp header 2"
                  },
                  "body":"This is post or put",
                  "methods":[
                     "POST",
                     "PUT"
                  ]
               }
            ]
         }
      },
      {
         "path":"/example2",
         "handler_opts":{
            "responses":[
               {
                  "headers":{
                     "X-test-header":"custom resp header 1"
                  },
                  "body":"<html><h1>This is get</h1></html>",
                  "methods":[
                     "GET"
                  ]
               },
               {
                  "headers":{
                     "X-test-header":"custom resp header 2"
                  },
                  "body":"This is post or put",
                  "methods":[
                     "POST",
                     "PUT"
                  ]
               }
            ]
         }
      }
   ]
}